/* Styling for login/account creation page */
:root {
    --bg-color-main: #E0E0E0;
    --bg-color-alt: #f1f1f1;
    --black: #111111;

    --blue: #458588;
}

* {
    
    transition: all .3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Font styling */
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;

    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-image: url("/img/unh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation: fadeOnLoad 1s;
    transition: all .3s ease-in-out;
}

main h1 {
    color: #ffffff;
    font-size: 4vmin;
}

@keyframes fadeOnLoad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80vw;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 40px;
    transition: all .3s ease-in-out;
}

@media (min-width: 600px) {
    form {
        width: 36rem;
    }
}

input {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    border: none;
    transition: all .3s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #458588;
}

@media screen and (min-width: 600px) {
    input {
        width: 24rem;
    }
}

h1 {
    position: relative;
    overflow: hidden;
    animation: textPopIn 1s;
}

@keyframes textPopIn {
    0% {
        top: -2rem;
    }

    100% {
        top: 0rem;
    }
}

.hidden {
    display: none;
}

.error {
    background-color: #ffcccb;
}

#error {
    color: #ff0000;
}

#account-switch {
    border-radius: 1vmin;
    color: #444444;
    font-weight: 700;
    padding: 8px 18px;
    width: fit-content;
    border: 0;
    outline: none;

    text-align: center;
    text-justify: center;
}

#account-switch span {
    color: #458588;
    text-decoration: underline;
    cursor: pointer;
}

#account-switch span:hover {
    filter: brightness(1.5);
}

#account-submit {
    background-image: linear-gradient(45deg, #458588, #64aaa8);
    box-shadow: var(--blue) 0 10px 20px -10px;

    border-radius: 2vmin;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 18px;
    width: fit-content;
    border: 0;
    outline: none;

    text-align: center;
    text-justify: center;
}
