:root {
  --bg-color-main: #E0E0E0;
  --bg-color-alt: #f1f1f1;
  --black: #1e1e1e;

  --blue: #458588;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* Font styling */
  font-family: Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

button {
    cursor: pointer;
}

.hidden {
  display: none;
}

#dialog {
    position: absolute;
    z-index: 15;
    width: 100vw;
    height: 100vw;
}

#settings {
    position: absolute;
    z-index: 15;
    width: 100vw;
    height: 100vw;
}

.settings-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack vertically */
  gap: 20px; /* Space between inputs */
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 300px;
}

.input-wrapper label {
  font-size: 16px; 
  color: #333; 
  margin-bottom: 5px; 
}

.saveBtn {
  background-color: #0056b3;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30px;
  padding: 20px;
}

.input-wrapper input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc; 
  border-radius: 8px;
  outline: none; 
}

.input-wrapper input:focus {
  border-color: #0056b3;
}


.menu {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 20;
    margin: auto;
    align-items: center;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color-main);
    filter: drop-shadow(0  2px 1px var(--black));
    width: 70vh;
    height: 50vh;
    border-radius: 20px;

    button {
        border: 0;
        background-color: transparent;
    }

    span {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .add-class-menu {
        width: 30rem;
        height: 32rem;
    }
}

/* --------- */

/* Style menu for MOBILE */
.interface {
  position: absolute;
  z-index: 10;
  left: 0; 
  right: 0;
  bottom: 1rem; 
  margin: auto; 

  display: flex;
  flex-direction: column;
  width: 80vw;
}


button img {
  width: 4vh;
  height: 4vh;
}

.menu-buttons {
  display: flex;

  button {
    background-color: var(--bg-color-main);
    border: 0;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    margin: 5px;
    border-radius: 20px;
    filter: drop-shadow(0  2px 1px var(--black));

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.class-menu {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 30vh;
  padding: 20px;
  background-color: var(--bg-color-main);
  border-radius: 20px;
  filter: drop-shadow(0  2px 1px var(--black));

  button {
    background-color: var(--bg-color-alt);
    border: 0;
    
        span {
            display: flex;
        }
    
        button {
            height: 2.5rem;
            border-radius: 20px;
            filter: drop-shadow(0  2px 1px var(--bg-color-main));
        }
  }

    span {
        display: flex;
    } 

    button {
        height: 2.5rem;
        border-radius: 20px;
        filter: drop-shadow(0  2px 1px var(--bg-color-main));
    }
}

/* Style menu for desktop */
@media (min-width: 600px) {
  .interface {
    left: 1rem; 
    bottom: 1rem;
    margin: 0;

    width: 24em;
  }

  button img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu-buttons {  
    button {
      width: 2.5rem;
      height: 2.5rem;
    } 
  }

  .class-menu {
    width: 18rem;
    height: 20rem;
  }
}

#mapbox { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

#buildmode {
  position: absolute;
  bottom: 30px;
  right: 50%;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #3a4ad5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  }
  
  #buildmode:hover {
  background-color: #3223b8;
  }