#map {
width: 100%;
height: 100vh;
}

#nav {
position: absolute;
bottom: 30px;
left: 10 px;
z-index: 1000;
padding: 10px 20px;
background-color: #3a4ad5;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

#nav:hover {
background-color: #3223b8;
}

#buildmode {
position: absolute;
bottom: 30px;
right: 50%;
z-index: 1000;
padding: 10px 20px;
background-color: #3a4ad5;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

#buildmode:hover {
background-color: #3223b8;
}